@model Quill_Lite_App.Models.Quill

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center my-4">Quill Details</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header bg-info text-white">
                    <h4 class="mb-0">Details</h4>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4 text-right font-weight-bold">
                            @Html.DisplayNameFor(model => model.Brand)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Brand)
                        </dd>
                        <dt class="col-sm-4 text-right font-weight-bold">
                            @Html.DisplayNameFor(model => model.Material)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Material)
                        </dd>
                        <dt class="col-sm-4 text-right font-weight-bold">
                            @Html.DisplayNameFor(model => model.Ratings)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Ratings)
                        </dd>
                        <dt class="col-sm-4 text-right font-weight-bold">
                            @Html.DisplayNameFor(model => model.SizeFit)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.SizeFit)
                        </dd>
                        <dt class="col-sm-4 text-right font-weight-bold">
                            @Html.DisplayNameFor(model => model.Color)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Color)
                        </dd>
                        <dt class="col-sm-4 text-right font-weight-bold">
                            @Html.DisplayNameFor(model => model.Design)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Design)
                        </dd>
                        <dt class="col-sm-4 text-right font-weight-bold">
                            @Html.DisplayNameFor(model => model.Price)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Price)
                        </dd>
                    </dl>
                    <div class="text-center">
                        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary mx-2">Edit</a>
                        <a asp-action="Index" class="btn btn-secondary mx-2">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
