@model IEnumerable<Quill_Lite_App.Models.Quill>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ratings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SizeFit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ratings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SizeFit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.ImagePath))
                {
                    <img src="@Url.Content("~/" + item.ImagePath)" alt="Product Image" width="100" height="100" />
                }
            </td>
            <td>
                    <form asp-action="Edit" asp-route-id="@item.Id" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </form> 
                    <form asp-action="Details" asp-route-id="@item.Id" method="get" style="display:inline;">
                        <button type="submit" class="btn btn-info">Details</button>
                    </form> 
                    <form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display:inline;">
                        <button type ="submit" class="btn btn-danger">Delete</button>
                    </form>                    
            </td>
        </tr>
}
    </tbody>
</table>
